absl-py==0.8.1
actionlib==1.11.13
adium-theme-ubuntu==0.3.4
angles==1.9.12
astor==0.8.1
attrs==15.2.0
audioread==2.1.8
autobahn==0.10.3
backports.weakref==1.0.post1
base-local-planner==1.14.7
beautifulsoup4==4.4.1
bondpy==1.8.3
boto3==1.12.34
botocore==1.15.34
bzr==2.7.0
cachetools==3.1.1
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
camera-info-manager-py==0.2.3
catkin==0.7.20
catkin-pkg==0.4.16
catkin-pkg-modules==0.4.16
catkin-tools==0.4.5
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
configobj==5.0.6
controller-manager==0.13.5
controller-manager-msgs==0.13.5
controller-manager-tests==0.13.5
cryptography==1.2.3
cv-bridge==1.12.8
cycler==0.9.0
decorator==4.4.1
defusedxml==0.4.1
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
docutils==0.12
dynamic-reconfigure==1.5.50
ecdsa==0.13
empy==3.3.2
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gast==0.2.2
gazebo-plugins==2.5.19
gazebo-ros==2.5.19
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
google-auth==1.8.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
html5lib==0.999
httplib2==0.9.1
idna==2.8
image-geometry==1.12.8
interactive-markers==1.11.4
ipaddress==1.0.16
jmespath==0.9.5
joblib==0.14.1
joint-state-publisher==1.12.15
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==7.3
laser-geometry==1.6.5
launchpadlib==1.10.3
lazr.restfulclient==0.13.4
lazr.uri==1.0.3
librosa==0.7.1
llvmlite==0.30.0
lxml==3.5.0
lz4==0.7.0
Markdown==3.1.1
matplotlib==1.5.1
mercurial==3.7.3
message-filters==1.12.14
mock==3.0.5
mongodb-store==0.4.5
mpi4py==1.3.1
msgpack-python==0.4.6
naoqi-driver-py==0.5.5
naoqi-pose==0.5.5
naoqi-sensors-py==0.5.5
ndg-httpsclient==0.4.0
netifaces==0.10.4
nose==1.3.7
numba==0.46.0
numpy==1.16.5
oauth==1.0.1
oauthlib==3.1.0
opt-einsum==2.3.2
osrf-pycommon==0.1.9
PAM==0.4.2
paramiko==1.16.0
pepper-sensors-py==0.1.10
Pillow==3.1.2
pluginlib==1.11.3
protobuf==3.11.1
psutil==3.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
PyAudio==0.2.8
pycparser==2.19
pycrypto==2.6.1
pydot==1.0.29
Pygments==2.1
pygobject==3.20.0
pygpgme==0.3
PyOpenGL==3.0.2
pyOpenSSL==0.15.1
pyparsing==2.0.3
pyserial==3.0.1
Pyste==0.9.10
python-dateutil==2.4.2
python-qt-binding==0.3.7
python-snappy==0.5
pytz==2014.10
PyYAML==3.11
qt-dotgraph==0.3.17
qt-gui==0.3.17
qt-gui-cpp==0.3.17
qt-gui-py-common==0.3.17
requests==2.22.0
requests-oauthlib==1.3.0
resampy==0.2.2
resource-retriever==1.12.6
roman==2.0.0
rosbag==1.12.14
rosboost-cfg==1.14.6
rosclean==1.14.6
roscreate==1.14.6
rosdep==0.19.0
rosdep-modules==0.19.0
rosdistro==0.8.0
rosdistro-modules==0.8.0
rosgraph==1.12.14
rosinstall==0.7.8
rosinstall-generator==0.1.18
roslaunch==1.12.14
roslib==1.14.6
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.6
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospkg==1.2.4
rospkg-modules==1.2.4
rospy==1.12.14
rosserial-python==0.7.7
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.6
roswtf==1.12.14
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.14
rqt-joint-trajectory-controller==0.13.6
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.5.1
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rsa==4.0
rviz==1.12.17
s3transfer==0.3.3
scikit-learn==0.20.4
scipy==1.2.2
SecretStorage==2.1.3
sensor-msgs==1.12.7
service-identity==16.0.0
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.10.0
smach==2.0.1
smach-ros==2.0.1
smclib==1.8.3
sound-play==0.3.3
SoundFile==0.10.3.post1
srdfdom==0.4.2
tensorboard==2.0.2
tensorflow==2.0.1
tensorflow-estimator==2.0.1
termcolor==1.1.0
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
topic-tools==1.12.14
trollius==2.0.1
tts==1.0.2
turtlebot3-teleop==1.2.1
Twisted==16.0.0
txaio==1.0.0
unity-lens-photos==1.0
urdfdom-py==0.3.3
urllib3==1.25.7
vcstools==0.1.42
virtualenv==16.7.8
wadllib==1.3.2
Werkzeug==0.16.0
wrapt==1.11.2
wstool==0.1.17
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xacro==1.11.3
zope.interface==4.1.3
