<launch>
    <node name="sound_knowledge_deriving" pkg="knowledge_deriving" type="sound_recognition_knowledge_deriving.py" />
    <node name="loud_sounds_knowledge_deriving" pkg="knowledge_deriving" type="loud_sounds_knowledge_deriving.py" />
    <node name="hectic_knowledge_deriving" pkg="knowledge_deriving" type="hectic_knowledge_deriving.py" />
    <node name="doorbell_knowledge_deriving" pkg="knowledge_deriving" type="doorbell_knowledge_deriving.py" />
</launch>